{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}

    <div class='updn hero-img my-4'>
        <table>

            <tr>
            
            <td><img src="static/images/57537.jpg" style="height: 250px;width: 250px;"></td>
            
            <td><img src="static/images/57538.jpg" style="height: 250px;width: 250px;"></td>
            
            <td><img src="static/images/57539.jpg" style="height: 250px;width: 250px;"></td>
            
            <td><img src="static/images/57540.jpg" style="height: 250px;width: 250px;"></td>
            
            <td><img src="static/images/57541.jpg" style="height: 250px;width: 250px;"></td>
                   
            <td><img src="static/images/57542.jpg" style="height: 250px;width: 250px;"></td>
            
            <td><img src="static/images/57543.jpg" style="height: 250px;width: 250px;"></td>
                                                
            
            </tr>
            
            <tr>
            
                <td><img src="static/images/57544.jpg" style="height: 250px;width: 250px;" ></td>
            
                <td><img src="static/images/57545.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57546.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57547.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57548.jpg" style="height: 250px;width: 250px;" ></td>
                       
                <td><img src="static/images/57549.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57550.jpg" style="height: 250px;width: 250px;" ></td>
                   
            
            </tr>
            
            <tr>
            
                <td><img src="static/images/57551.jpg" style="height: 250px;width: 250px;" ></td>
            
                <td><img src="static/images/57552.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57553.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57554.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57555.jpg" style="height: 250px;width: 250px;" ></td>
                       
                <td><img src="static/images/57556.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57557.jpg" style="height: 250px;width: 250px;" ></td>
                   
            
            </tr>    

            <tr>
            
                <td><img src="static/images/57558.jpg" style="height: 250px;width: 250px;" ></td>
            
                <td><img src="static/images/57559.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57560.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57561.jpg" style="height: 250px;width: 250px;" ></td>
            
                <td><img src="static/images/57562.jpg" style="height: 250px;width: 250px;" ></td>
                       
                <td><img src="static/images/57563.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57564.jpg" style="height: 250px;width: 250px;" ></td>
                   
            
            </tr>    


            <tr>
            
                <td><img src="static/images/57565.jpg" style="height: 250px;width: 250px;" ></td>
            
                <td><img src="static/images/57566.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57567.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57568.jpg" style="height: 250px;width: 250px;" ></td>
            
                <td><img src="static/images/57569.jpg" style="height: 250px;width: 250px;" ></td>
                       
                <td><img src="static/images/57570.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57571.jpg" style="height: 250px;width: 250px;" ></td>
                   
            
            </tr>    
            

            <tr>
            
                <td><img src="static/images/57572.jpg" style="height: 250px;width: 250px;" ></td>
            
                <td><img src="static/images/57573.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57574.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57575.jpg" style="height: 250px;width: 250px;" ></td>
            
                <td><img src="static/images/57576.jpg" style="height: 250px;width: 250px;" ></td>
                       
                <td><img src="static/images/57577.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57578.jpg" style="height: 250px;width: 250px;" ></td>
                   
            
            </tr>    
            

            <tr>
            
                <td><img src="static/images/57579.jpg" style="height: 250px;width: 250px;" ></td>
            
                <td><img src="static/images/57580.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57581.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57582.jpg" style="height: 250px;width: 250px;" ></td>
            
                <td><img src="static/images/57583.jpg" style="height: 250px;width: 250px;" ></td>
                       
                <td><img src="static/images/57584.jpg" style="height: 250px;width: 250px;" ></td>
                
                <td><img src="static/images/57585.jpg" style="height: 250px;width: 250px;" ></td>
                   
            
            </tr>                
            
            </table>
        
    </div>

{% endblock %}